<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <ul class="user__info">
              <li class="logo" style="float :left"><a href="#">Blog</a></li>
              <li class="entry-bottom" style="float :right"><a href="#">New</a></li>
              <li class="logout" style="float :right"><a href="#">Signout</a></li>
              <li class="sign-in" style="float :right"><a href="#">Signin</a></li>
              
          </ul>
          </div>

    <%= yield %>
  </body>
</html>
