<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <ul class="user__info">
      <% if user_signed_in? %>
      <li class="logo" style="float :left">
       <%= link_to "Blog", root_path, class:'post'%></li>
       
        <li class="logout" style="float :right">
          <%= link_to "Signout", destroy_user_session_path, method: :delete%>
        </li> 
        <li class="entry-bottom" style="float :right">
          <%= link_to "New", new_top_path, class: 'post'%>
        </li>
      <% else %>
       <li class="logo" style="float :left">
       <%= link_to "Blog", root_path, class:'post'%></li>
       
        <li class="entry-bottom" style="float :right">
          <%= link_to "New", new_top_path, class: 'post'%>
        </li>
        
        <li class="sign-in" style="float :right">
         <%= link_to "Signin", new_user_session_path, class: 'post'%>
       </li>
     <% end %>
    </ul>
    </div>

    <%= yield %>
  </body>
</html>
